<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <script src="https://kit.fontawesome.com/87572cc191.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"> </i>
        Contact List 
    </h1>
    <div id ="frst">
         <ul>
            <% for(let i of contact_li){%>
                <li class="contact">

                <div class="detail">
                    <p><%= i.name  %> </p>
                    <p><%= i.phone %> </p>

                </div>
                <div class="delete-button">
                    <a href="/delete-contact/?phone=<%= i.phone %>"> 
                        <i class="fa-solid fa-square-xmark"></i>
                    </a>

                </div>
            </li>
                
            <%} %>

         </ul>

    </div>
    <form id="new-contact-form" action="/create-contact" method="post">
    <input type="text" name="name" placeholder="Name " required> &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="number" name="phone" placeholder="Phone No." required>
    <button style="background-color:rgb(162, 99, 222)"class="button-2" type="submit">Add </button>
    </form> 
    <script type="text/javascript" src="/js/home.js">

    </script>
</body>
</html>